<div class="wrapper first-theme" id="wrapper">
  <div class="calc-container">
    <div class="calc-nav">
      <div class="calc-nav-number first-number">1</div>
      <div class="calc-nav-number">2</div>
      <div class="calc-nav-number">3</div>
      <div class="calc-nav-name">calc</div>
      <div class="calc-nav-theme">theme</div>
      <div class="toggle-container">
        <a (click)="onChangeTheme()" id="toggle" class="toggle"></a>
      </div>
    </div>
    <div class="calc-screen">
      <div class="previous-operand"></div>
      <div class="current-operand"></div>
    </div>
    <div class="calc-keypad">
      <button class="calc-btn no-btn" (click)="onNumberButtons($event)">
        7
      </button>
      <button class="calc-btn no-btn" (click)="onNumberButtons($event)">
        8
      </button>
      <button class="calc-btn no-btn" (click)="onNumberButtons($event)">
        9
      </button>
      <button class="calc-btn del-btn" (click)="onDeleteButton($event)">
        DEL
      </button>
      <button class="calc-btn no-btn" (click)="onNumberButtons($event)">
        4
      </button>
      <button class="calc-btn no-btn" (click)="onNumberButtons($event)">
        5
      </button>
      <button class="calc-btn no-btn" (click)="onNumberButtons($event)">
        6
      </button>
      <button
        class="calc-btn operation-btn"
        (click)="onOperationButtons($event)"
      >
        +
      </button>
      <button class="calc-btn no-btn" (click)="onNumberButtons($event)">
        1
      </button>
      <button class="calc-btn no-btn" (click)="onNumberButtons($event)">
        2
      </button>
      <button class="calc-btn no-btn" (click)="onNumberButtons($event)">
        3
      </button>
      <button
        class="calc-btn operation-btn"
        (click)="onOperationButtons($event)"
      >
        -
      </button>
      <button class="calc-btn no-btn" (click)="onNumberButtons($event)">
        .
      </button>
      <button class="calc-btn no-btn" (click)="onNumberButtons($event)">
        0
      </button>
      <button
        class="calc-btn operation-btn"
        (click)="onOperationButtons($event)"
      >
        /
      </button>
      <button
        class="calc-btn operation-btn"
        (click)="onOperationButtons($event)"
      >
        x
      </button>
      <button
        class="calc-btn reset-btn grid-col-span-2"
        (click)="onResetButton($event)"
      >
        RESET
      </button>
      <button
        class="calc-btn score-btn grid-col-span-2"
        (click)="onScoreButton($event)"
      >
        =
      </button>
    </div>
  </div>
</div>
