<div class="wrapper first-theme" id="wrapper">
  <div class="calc-container">
    <div class="calc-nav">
      <div class="calc-nav-number first-number">1</div>
      <div class="calc-nav-number">2</div>
      <div class="calc-nav-number">3</div>
      <div class="calc-nav-name">calc</div>
      <div class="calc-nav-theme">theme</div>
      <div class="toggle-container">
        <a (click)="onChangeTheme()" id="toggle" class="toggle"></a>
      </div>
    </div>
    <div class="calc-screen">
      0,0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
    </div>
    <div class="calc-keypad">
      <button class="calc-btn no-btn" value="7">7</button>
      <button class="calc-btn no-btn" value="8">8</button>
      <button class="calc-btn no-btn" value="9">9</button>
      <button class="calc-btn del-btn" value="delete">DEL</button>
      <button class="calc-btn no-btn" value="4">4</button>
      <button class="calc-btn no-btn" value="5">5</button>
      <button class="calc-btn no-btn" value="6">6</button>
      <button class="calc-btn plus-btn" value="+">+</button>
      <button class="calc-btn no-btn" value="1">1</button>
      <button class="calc-btn no-btn" value="2">2</button>
      <button class="calc-btn no-btn" value="3">3</button>
      <button class="calc-btn minus-btn" value="-">-</button>
      <button class="calc-btn decimal-btn" value=".">.</button>
      <button class="calc-btn no-btn" value="0">0</button>
      <button class="calc-btn divide-btn" value="/">/</button>
      <button class="calc-btn multiply-btn" value="x">x</button>
      <button class="calc-btn reset-btn grid-col-span-2" value="reset">
        RESET
      </button>
      <button class="calc-btn score-btn grid-col-span-2" value="=">=</button>
    </div>
  </div>
</div>
