.wrapper {
  background-color: #e6e6e6;

  .calc-container {
    .calc-nav {
      color: #35352c;

      .toggle-container {
        background-color: #d1cccc;
      }

      .toggle {
        background-color: #ca5502;
        left: 38%;
      }
    }
    .calc-screen {
      background-color: #ededed;
      color: #35352c;
    }
    .calc-keypad {
      background-color: #d1cccc;
    }

    .calc-btn {
      background-color: #e5e4e1;
      color: #444b5a;
      box-shadow: 0 5px 1px -2px #a69d91;
    }

    .calc-btn:hover {
      background-color: #f8f8f7;
    }
    .del-btn,
    .reset-btn {
      color: #fff;
      background-color: #377f86;
      box-shadow: 0 5px 1px -2px #1b5f65;
    }
    .del-btn:hover,
    .reset-btn:hover {
      background-color: #98c9cd;
    }

    .score-btn {
      color: #fff;
      background-color: #ca5502;
      box-shadow: 0 5px 1px -2px #893901;
    }

    .score-btn:hover {
      background-color: #feac72;
    }
  }
}
