<div class="wrapper">
  <div class="calc-container">
    <div class="calc-nav">
      <div class="calc-nav-number first-number">1</div>
      <div class="calc-nav-number">2</div>
      <div class="calc-nav-number">3</div>
      <div class="calc-nav-name">calc</div>
      <div class="calc-nav-theme">theme</div>
      <div class="toggle-container">
        <a routerLink="/theme-2" routerLinkActive="active" class="toggle"></a>
      </div>
    </div>
    <div class="calc-screen">0,00</div>
    <div class="calc-keypad">
      <button class="calc-btn no-btn">7</button>
      <button class="calc-btn no-btn">8</button>
      <button class="calc-btn no-btn">9</button>
      <button class="calc-btn del-btn">DEL</button>
      <button class="calc-btn no-btn">4</button>
      <button class="calc-btn no-btn">5</button>
      <button class="calc-btn no-btn">6</button>
      <button class="calc-btn plus-btn">+</button>
      <button class="calc-btn no-btn">1</button>
      <button class="calc-btn no-btn">2</button>
      <button class="calc-btn no-btn">3</button>
      <button class="calc-btn minus-btn">-</button>
      <button class="calc-btn dot-btn">.</button>
      <button class="calc-btn no-btn">0</button>
      <button class="calc-btn divide-btn">/</button>
      <button class="calc-btn multiply-btn">x</button>
      <button class="calc-btn reset-btn grid-col-span-2">RESET</button>
      <button class="calc-btn score-btn grid-col-span-2">=</button>
    </div>
  </div>
</div>
