<div class="wrapper">
  <div class="calc-container">
    <div class="calc-nav">test</div>
    <div class="calc-screen">test</div>
    <div class="calc-keypad">
      <button class="calc-btn">7</button>
      <button class="calc-btn">8</button>
      <button class="calc-btn">9</button>
      <button class="calc-btn del-btn">DEL</button>
      <button class="calc-btn">4</button>
      <button class="calc-btn">5</button>
      <button class="calc-btn">6</button>
      <button class="calc-btn plus-btn">+</button>
      <button class="calc-btn">1</button>
      <button class="calc-btn">2</button>
      <button class="calc-btn">3</button>
      <button class="calc-btn minus-btn">-</button>
      <button class="calc-btn dot-btn">.</button>
      <button class="calc-btn">0</button>
      <button class="calc-btn divide-btn">/</button>
      <button class="calc-btn multiply-btn">x</button>
      <button class="calc-btn reset-btn grid-col-span-2">RESET</button>
      <button class="calc-btn score-btn grid-col-span-2">=</button>
    </div>
  </div>
</div>
