.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #3a4764;

  .calc-container {
    min-width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .calc-nav {
      width: 100%;
      height: 7vh;
      display: grid;
      grid-template-columns: 68% 12% 4% 4% 4%;
      font-size: 14px;
      font-weight: 700;
      align-items: center;
      row-gap: 10px;
      column-gap: 2%;
      color: #fff;
      border-radius: 10px;
      margin-bottom: 2vh;
      padding: 5px;

      .calc-nav-name {
        font-size: 32px;
        grid-column: 1 / 2;
        grid-row: 1/3;
      }
      .calc-nav-number {
        justify-self: center;
      }

      .calc-nav-theme {
        grid-column: 2 / 3;
        justify-self: end;
        align-self: center;
        padding-right: 40%;
        text-transform: uppercase;
      }

      .first-number {
        grid-column-start: 3;
      }

      .toggle-container {
        justify-self: center;
        width: 100%;
        height: 100%;
        padding: 15%;
        background-color: #232c43;
        grid-column: 3 / 6;
        border-radius: 15px;
        position: relative;
      }

      .toggle {
        position: absolute;
        top: 15%;
        bottom: 15%;
        left: 8%;
        aspect-ratio: 1;
        //tutaj nie wszystkie przegladarki wspierają - moożna zastąpić wymiarami;
        background-color: #d03f2f;
        min-width: 20%;
        border-radius: 50%;
      }
    }
    .calc-screen {
      width: 100%;
      padding: 3vh;
      background-color: #182034;
      border-radius: 10px;
      color: #fff;
      margin-bottom: 2vh;
      text-align: end;
      font-weight: 700;
    }
    .calc-keypad {
      width: 100%;
      min-height: 30vh;
      display: grid;
      gap: 3vh;
      grid-template-columns: repeat(4, 1fr);
      //ustawia kolumny - powtarza 4 razy; 1fr oznacza dzielenie równo;
      padding: 3vh;
      background-color: #232c43;
      border-radius: 10px;
    }
    .grid-col-span-2 {
      grid-column: span 2;
    }

    .calc-btn {
      background-color: #eae3dc;
      padding: 20px;
      border-radius: 10px;
      border: none;
      font-size: 32px;
      font-family: inherit;
      font-weight: 700;
      color: #444b5a;
      box-shadow: 0 5px 1px -2px #b4a597;
      cursor: pointer;
    }

    .calc-btn:hover {
      background-color: #f9f7f5;
    }
    .del-btn,
    .reset-btn {
      color: #fff;
      background-color: #637097;
      box-shadow: 0 5px 1px -2px #404e72;
    }
    .del-btn:hover,
    .reset-btn:hover {
      background-color: #adbff5;
    }

    .score-btn {
      color: #fff;
      background-color: #d03f2f;
      box-shadow: 0 5px 1px -2px #93261a;
    }

    .score-btn:hover {
      background-color: #ff7e70;
    }
  }
}
